<a href="https://colab.research.google.com/github/AtmakaYanuar/Data_Cleansing_Japan_population_data/blob/main/2318085DataCleansing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Import Dataset dan Load Dataset

In [3]:
import pandas as pd
import numpy as np

In [4]:
# Langkah 1: Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
# Load dataset
file_path = "/content/drive/MyDrive/Data Mining/Japan_population_data.csv"# ganti sesuai path di Colab
df_dirty = pd.read_csv(file_path)

# 2. Baca Dataset pelanggan yang kotor

In [6]:
# Baca Dataset pelanggan yang kotor
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Data Mining/Japan_population_data.csv")
df.head()

  prefecture       year  population     capital region  estimated_area  island
0  Aichi-ken  1872.1667   1210368.0  Nagoya-shi  Chubu         5165.12  Honshu
1  Aichi-ken  1873.0000   1217444.0  Nagoya-shi  Chubu         5165.12  Honshu
2  Aichi-ken  1874.0000   1217521.0  Nagoya-shi  Chubu         5165.12  Honshu
3  Aichi-ken  1875.0000   1234003.0  Nagoya-shi  Chubu         5165.12  Honshu
4  Aichi-ken  1876.0000   1244711.0  Nagoya-shi  Chubu         5165.12  Honshu

In [7]:
# cek ukuran dataset
print("Ukuran dataset:", df.shape)

# info detail
print("\nInformasi dataset:")
print(df.info())

# tampilkan beberapa baris data
df.head()

Ukuran dataset: (2632, 7)

Informasi dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2632 entries, 0 to 2631
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   prefecture      2632 non-null   object
 1   year            2632 non-null   float64
 2   population      2540 non-null   float64
 3   capital         2632 non-null   object
 4   region          2632 non-null   object
 5   estimated_area  2632 non-null   float64
 6   island          2632 non-null   object
dtypes: float64(3), object(4)
memory usage: 144.1+ KB
None

  prefecture       year  population     capital region  estimated_area  island
0  Aichi-ken  1872.1667   1210368.0  Nagoya-shi  Chubu         5165.12  Honshu
1  Aichi-ken  1873.0000   1217444.0  Nagoya-shi  Chubu         5165.12  Honshu
2  Aichi-ken  1874.0000   1217521.0  Nagoya-shi  Chubu         5165.12  Honshu
3  Aichi-ken  1875.0000   1234003.0  Nagoya-shi  Chubu         5165.12  Honshu
4  Aichi-ken  1876.0000   1244711.0  Nagoya-shi  Chubu         5165.12  Honshu

# 3. Mengecek Missing Value

In [8]:
# Cek apakah ada data yang hilang (missing values)
print("Jumlah missing value per kolom:\n")
print(df.isnull().sum())

# Cek persentase missing value per kolom
print("\nPersentase missing value per kolom:\n")
print((df.isnull().mean() * 100).round(2))

Jumlah missing value per kolom:

prefecture         0
year               0
population        92
capital            0
region             0
estimated_area     0
island             0
dtype: int64

Persentase missing value per kolom:

prefecture        0.0
year              0.0
population        3.5
capital           0.0
region            0.0
estimated_area    0.0
island            0.0
dtype: float64

# 4. Perbaikan Missing Value

In [9]:
# hapus semua baris yang ada missing value
df_clean = df.dropna()

print("Ukuran data sebelum:", df.shape)
print("Ukuran data sesudah:", df_clean.shape)

Ukuran data sebelum: (2632, 7)
Ukuran data sesudah: (2540, 7)

# 5. Cek Ulang Perbaikan Mising Value

In [11]:
# Cek ulang apakah masih ada missing value
print("Jumlah missing value per kolom setelah perbaikan:\n")
print(df.isnull().sum())

# Kalau mau lebih yakin, cek total missing value di seluruh dataset
print("\nTotal missing value di semua kolom:", df.isnull().sum().sum())

Jumlah missing value per kolom setelah perbaikan:

prefecture        0
year              0
population        0
capital           0
region            0
estimated_area    0
island            0
dtype: int64

Total missing value di semua kolom: 0

# 6. Cek & Hapus Duplikasi

In [12]:
# Hitung jumlah baris yang benar-benar sama (duplikat) di seluruh DataFrame df_dirty
dup_count = df_dirty.duplicated().sum()
print(f"Jumlah baris duplikat: {dup_count}")

Jumlah baris duplikat: 0

In [13]:
display(df_dirty[df_dirty.duplicated()].head())

Empty DataFrame
Columns: [prefecture, year, population, capital, region, estimated_area, island]
Index: []

In [14]:
df_clean = df_dirty.drop_duplicates()

In [15]:
before = df_dirty.shape[0]
after = df_clean.shape[0]
print(f"Jumlah baris sebelum cleaning: {before}")
print(f"Jumlah baris setelah cleaning: {after}")
print(f"Jumlah baris yang terhapus (duplikat): {before - after}")

Jumlah baris sebelum cleaning: 2632
Jumlah baris setelah cleaning: 2632
Jumlah baris yang terhapus (duplikat): 0

# **7. Cek Outlier Pada Kolom year**

In [16]:
# Perbaikan kolom year -> bulatkan ke integer
df_clean['year'] = df_clean['year'].round().astype(int)

# Cek ulang tahun setelah dibulatkan
print("=== Cek Ulang Tahun Setelah Dibersihkan ===")
print("Tahun minimum:", df_clean['year'].min())
print("Tahun maksimum:", df_clean['year'].max())
print("Contoh data:")
print(df_clean[['prefecture', 'year', 'population']].head(10))

=== Cek Ulang Tahun Setelah Dibersihkan ===
Tahun minimum: 1872
Tahun maksimum: 2016
Contoh data:
  prefecture  year  population
0  Aichi-ken  1872   1210368.0
1  Aichi-ken  1873   1217444.0
2  Aichi-ken  1874   1217521.0
3  Aichi-ken  1875   1234003.0
4  Aichi-ken  1876   1244711.0
5  Aichi-ken  1877   1250839.0
6  Aichi-ken  1878   1267206.0
7  Aichi-ken  1879   1295452.0
8  Aichi-ken  1880   1303812.0
9  Aichi-ken  1881   1317792.0

# **8. Standarisasi Format Data**

In [17]:
# === Step 8.1: Standarisasi kolom prefecture ===
# ubah ke huruf kecil + hapus spasi berlebih
df_clean['prefecture'] = df_clean['prefecture'].str.strip().str.lower()

# cek hasil standarisasi
print("=== Contoh kolom prefecture setelah standarisasi ===")
print(df_clean['prefecture'].head(10))

=== Contoh kolom prefecture setelah standarisasi ===
0    aichi-ken
1    aichi-ken
2    aichi-ken
3    aichi-ken
4    aichi-ken
5    aichi-ken
6    aichi-ken
7    aichi-ken
8    aichi-ken
9    aichi-ken
Name: prefecture, dtype: object

In [18]:

print("\n=== Info Tipe Data Setelah Standarisasi ===")
print(df_clean.dtypes)

=== Info Tipe Data Setelah Standarisasi ===
prefecture         object
year                int64
population        float64
capital            object
region             object
estimated_area    float64
island             object
dtype: object

In [19]:
df_clean['year'] = df_clean['year'].astype(int)

# **9. Cek Nilai Tidak Valid**

In [20]:
# Cek nilai tidak valid pada year
print("=== Nilai tidak valid pada year ===")
invalid_years = df[(df['year'] < 1870) | (df['year'] > 2025)]
print(invalid_years['year'].unique())

=== Nilai tidak valid pada year ===
[]

# **10. Cek Kolom Tidak Relevan**

In [21]:
# Cek jumlah nilai unik per kolom
print("=== Jumlah nilai unik per kolom ===")
print(df.nunique())

=== Jumlah nilai unik per kolom ===
prefecture          47
year                56
population        2539
capital             47
region               8
estimated_area      47
island               5
dtype: int64

In [22]:
# Identifikasi kolom kandidat tidak relevan
irrelevant_cols = []

# Kolom dengan 1 nilai unik
single_value_cols = df.nunique()[df.nunique() == 1].index.tolist()
irrelevant_cols.extend(single_value_cols)

In [23]:
# Hapus kolom tidak relevan
df = df.drop(columns=set(irrelevant_cols), errors='ignore')

print("\n=== Setelah perbaikan ===")
print("Kolom dataset sekarang:", df.columns.tolist())

=== Setelah perbaikan ===
Kolom dataset sekarang: ['prefecture', 'year', 'population', 'capital', 'region', 'estimated_area', 'island']

# **11. Dataset Setelah Cleansing**
Menampilkan dataset akhir setelah proses cleansing:  
- Tidak ada missing value penting  
- Tidak ada duplikasi  
- Standarisasi (Kolom title → huruf kecil + hapus spasi berlebih)  
- Standarisasi (Kolom island dan region → periksa konsistensi ejaan)
- Standarisasi (Kolom year → diubah ke format integer)
- Tidak ada nilai yang tidak valid
- Tidak ada Kolong Tidak Relevan

In [24]:
# === Tampilkan hasil dataset setelah cleansing ===

df['year'] = df['year'].round(0)
df['year'] = df['year'].astype(int)
print("=== Preview Dataset Bersih ===")
display(df.head(10)) #Menampilkan 10 baris pertama dataset untuk melihat hasil akhir

print("\n=== Info Dataset Bersih ===")
print(df.info()) #Menampilkan ringkasan informasi dataset, termasuk tipe data (Dtype) dan jumlah data non-null

print("\n=== Jumlah Baris & Kolom Dataset Bersih ===")
print(df.shape) #Menampilkan jumlah total baris dan kolom dataset setelah proses cleansing

=== Preview Dataset Bersih ===

  prefecture  year  population     capital region  estimated_area  island
0  Aichi-ken  1872   1210368.0  Nagoya-shi  Chubu         5165.12  Honshu
1  Aichi-ken  1873   1217444.0  Nagoya-shi  Chubu         5165.12  Honshu
2  Aichi-ken  1874   1217521.0  Nagoya-shi  Chubu         5165.12  Honshu
3  Aichi-ken  1875   1234003.0  Nagoya-shi  Chubu         5165.12  Honshu
4  Aichi-ken  1876   1244711.0  Nagoya-shi  Chubu         5165.12  Honshu
5  Aichi-ken  1877   1250839.0  Nagoya-shi  Chubu         5165.12  Honshu
6  Aichi-ken  1878   1267206.0  Nagoya-shi  Chubu         5165.12  Honshu
7  Aichi-ken  1879   1295452.0  Nagoya-shi  Chubu         5165.12  Honshu
8  Aichi-ken  1880   1303812.0  Nagoya-shi  Chubu         5165.12  Honshu
9  Aichi-ken  1881   1317792.0  Nagoya-shi  Chubu         5165.12  Honshu

=== Info Dataset Bersih ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2632 entries, 0 to 2631
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   prefecture      2632 non-null   object
 1   year            2632 non-null   int64
 2   population      2632 non-null   float64
 3   capital         2632 non-null   object
 4   region          2632 non-null   object
 5   estimated_area  2632 non-null   float64
 6   island          2632 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 144.1+ KB
None

=== Jumlah Baris & Kolom Dataset Bersih ===
(2632, 7)

# **12. Kesimpulan**

1.  Proses data cleansing meliputi pengecekan struktur, missing value, duplikasi, outlier, dan format.
2. Nilai kosong ditangani dengan pengisian default atau penghapusan baris.
3. Data duplikat berhasil dihapus agar hasil analisis tidak bias.
4. Dilakukan standarisasi format (lowercase/uppercase, spasi, konversi tanggal).
5. Nilai tidak wajar difilter dan diperbaiki.
6. Kolom tidak relevan dihapus sehingga dataset lebih fokus.
7. Dataset akhir menjadi lebih rapi, konsisten, dan siap dianalisis.